.App {
  text-align: center;
}

body,
html,
div#root {
  height: 100%;
  font-family: "PFStardust", sans-serif;
  overflow: hidden;
  user-select: none;
  text-align: center;
  color: white;
}

body {
  font-family: "PFStardust", sans-serif;
}

@font-face {
  font-family: "PFStardust";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
